.hide{
    /* Hides HTML elements */
    visibility: hidden; 
}
.correct{
    /* Displays the correct answer */
    visibility: visible;
    color: green;
}
.incorrect{
    /* Displays the incorrect answer */
    visibility: visible;
    color: red;
}
.disabled{
    /* Disables the button */
    pointer-events: none;
}

.mainContainer {
    /* Main container for the quiz */
    /* display at the size of window */
    max-width: 100%;
    /* center the content */
    margin: auto;
    /* set the font */
    font-family: 'Poppins', sans-serif;
    /* set the color of the text */
    color: #333;
    /* set the background color */
    background-color: #fff;
}

.answerContainer {
    /* Pointer */
    cursor: pointer;
}

.headerContainer {

}

.imageContainer {

}

.questionContainer {

}

.quizControls {

}

.finalResults {

}