.hide{
    /* Hides HTML elements */
    visibility: hidden; 
}
.correct{
    /* Displays the correct answer */
    visibility: visible;
    color: green;
}
.incorrect{
    /* Displays the incorrect answer */
    visibility: visible;
    color: red;
}
.disabled{
    /* Disables the button */
    pointer-events: none;
}
.mainContainer {
    /* Main container for the quiz */
    /* center the content in a column */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* set the font */
    font-family: 'Poppins', sans-serif;
    /* set the color of the text */
    color: #333;
    /* set the background color */
    background-color: #fff;

}

.answerContainer {
    /* Pointer */
    cursor: pointer;
}
/* Arrange the buttons inside quizControls to retain the same position */
.quizControls {
    /* center the content in a column */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* set the font */
    font-family: 'Poppins', sans-serif;
    /* set the color of the text */
    color: #333;
    /* set the background color */
    background-color: #fff;
}
.controlButtonContainer > button{
    /* center Buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    /* set the font */
    font-family: 'Poppins', sans-serif;
    /* set the color of the text */
    color: #333;
    /* set the background color */
    background-color: #fff;
    /* set the height */
    height: 50px;
    /* set the border */
    border: 1px solid #333;
    /* set the border radius */
    border-radius: 5px;
    /* set the font size */
    font-size: 1.2rem;
    /* set the font weight */
    font-weight: 600;
    /* set the text transform */
    text-transform: uppercase;
    /* set the cursor */
    cursor: pointer;
}

.finalResults {

}

.answerButtons {
/* Answers to choose from
Make it into a grid with two coloumns and two rows*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    /* set the font */
    font-family: 'Poppins', sans-serif;
    /* set the color of the text */
    color: #333;
    /* set the background color */
    background-color: #fff;
}