.hide{
    /* Hides HTML elements */
    visibility: hidden; 
}
.correct{
    /* Displays the correct answer */
    visibility: visible;
    color: green;
}
.incorrect{
    /* Displays the incorrect answer */
    visibility: visible;
    color: red;
}
.disabled{
    /* Disables the button */
    pointer-events: none;
}